    <nav class="navbar">
        <div class="logo">Board de tarefas</div>
        <div class="nav-links">
            <a href="/" class="active">Kanban</a>
            <a href="/novousuario">Novo usuário</a>
            <a href="/novatarefa">Nova Tarefa</a>
        </div>
    </nav>