<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Kanban</title>
  <link rel="stylesheet" href="/css/mainStyles.css">
</head>
<body>

  <nav>
    <a href="/" class="logo">Board de tarefas</a>
    <div class="nav-links">
      <a href="/">Kanban</a>
      <a href="/novo-usuario">Novo usuário</a>
      <a href="/nova-tarefa">Nova Tarefa</a>
    </div>
  </nav>

  <main class="container">
    <!-- id necessário para o script localizar o container -->
    <div id="kanbanContainer" class="kanban">
      <div id="todoColumn" class="column">
        <h3 class="column-title">A fazer</h3>
      </div>

      <div id="doingColumn" class="column">
        <h3 class="column-title">Em andamento</h3>
      </div>

      <div id="doneColumn" class="column">
        <h3 class="column-title">Pronto</h3>
      </div>
    </div>
  </main>

  <script src="/js/main.js"></script>
</body>
</html>
